<div class="table-container container my-4">
  <div class="submitted-offers-container">
    <h4 class="subtitle text-center" style="color: #ff4800">Submitted Offers</h4>
    <p class="main-description text-center mb-4">
      Submitted offers awaiting response or tentative acceptance.
    </p>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover text-center custom-table">
      <thead class="table-light">
      <tr>
        <th>Job Title</th>
        <th>Client Name</th>
        <th>Price</th>
        <th>Submission Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let offer of submittedOffers; let i = index">
        <td>{{ offer.jobTitle }}</td>
        <td>{{ offer.clientName }}</td>
        <td>{{ offer.price }} $</td>
        <td>{{ offer.date }}</td>
        <td>
          <span class="badge bg-secondary" *ngIf="offer.status === 'pending'">Pending</span>
          <span class="badge bg-success" *ngIf="offer.status === 'accepted'">Accepted</span>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteOffer(i)">Cancel</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
