/* switch.component.css */
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 400px;
  padding: 50px;
}

.switch__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #ecf0f3;
}
