<div class="hero-wrapper">
  <div class="hero-left">
    <h2>Get the best craftsmen and technicians.</h2>
    <p class="description">
      Our platform offers you a team of trained and trusted professionals to ensure your projects are completed efficiently.
      We help you access the best experts in various fields, making it easier to get the service you need.
    </p>
    <button class="create-post-btn" routerLink="/job-owner-dashboard/creat-posts">
      Create a post <span>&#10132;</span>
    </button>
  </div>
  <div class="hero-right">
    <img src="/assets/handshake.png" alt="Handshake" />
  </div>
</div>

<div class="carousel-dots">
  <span class="dot active"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

