<div class="container d-flex flex-row-reverse align-content-md-center gap-3">
  <div class="card-container-2 card d-flex flex-column justify-content-center align-items-center text-center" >
    <div>
      <p class="text-card-2 "  >Project Overview</p>
      <div class="number-card-2" >3,200 + </div>
      <p  class="text-card-2"><br>Number of daily jobs</p>
    </div>
  </div>

  <div>
    <div class="card-container card d-flex flex-column justify-content-center align-items-center text-center" >
      <p class="text-card"  >Project Overview</p>
     <div class="number-card" >
       1,200 +
     </div>
     <p  class="text-card"><br>Project Completed</p>
    </div>
  </div>


</div>
