

<div class="btn mb-3 container btn-container" >

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('')">
    All
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Carpentry')">
    Carpentry
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Blacksmithing')">
    Blacksmithing
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Gardening')">
    Gardening
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Painting')">
    Painting
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('House Cleaning')">
    House Cleaning
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Plumbing')">
    Plumbing
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Electrical Work')">
    Electrical Work
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Tile Installation')">
    Tile Installation
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Roofing')">
    Roofing
  </button>

  <button
    type="button"
    class="btn button"
    (click)="onButtonClick('Masonry')">
    Masonry
  </button>


</div>
