
<!-- Filter Component Template (filter.component.html) -->
<div class="btn-group mb-3" role="group">
  <!-- زر "عرض الكل" -->
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('')">
    All
  </button>

  <!-- أزرار الفلترة الثابتة -->
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Carpentry')">
    Carpentry
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Blacksmithing')">
    Blacksmithing
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Gardening')">
    Gardening
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Painting')">
    Painting
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('House Cleaning')">
    House Cleaning
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Plumbing')">
    Plumbing
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Electrical Work')">
    Electrical Work
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Tile Installation')">
    Tile Installation
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Roofing')">
    Roofing
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onButtonClick('Masonry')">
    Masonry
  </button>


</div>
