<div class="container mb-4 mt-0 py-4">
  <app-filter (filterChanged)="onFilterChanged($event)"></app-filter>




  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"
         *ngFor="let item of filteredItems.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
      <div class="card h-100">
        <img [src]="item.image" alt="image" class="card-img-top">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title">{{ item.title }}</h2>
          <p class="card-location">{{ item.location }}</p>
          <p class="card-description">{{ item.description }}</p>
          <p class="card-date">{{ item.date }}</p>
          <p class="card-price">{{ item.price }}</p>
          <a href="#" class="card-button mt-auto" data-bs-toggle="modal" data-bs-target="#detailsModal"
             (click)="openModal(item)">
            More details <i class="fa-solid fa-circle-chevron-right"></i>
          </a>


        </div>
      </div>
    </div>


  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-4">
    <nav>
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="detailsModal" #detailsModalRef tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">


  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel">{{ selectedItem?.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <div class="d-flex justify-content-center gap-3 flex-wrap mb-3">
            <img [src]="selectedItem?.image" alt="Image" class="custom-img" />
            <img [src]="selectedItem?.additionalImage" alt="Additional Image" class="custom-img" />
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button
                (click)="sendAndNavigateInstant(selectedItem?.ownerId, selectedItem?.ownerName)"
                class="btn text-white shadow-sm rounded-circle d-flex justify-content-center align-items-center "
                style="background-color: #ff6200; width: 45px; height: 45px;"  title="Send message to the owner">
                <i class="fa-solid fa-comments fs-5"></i>
              </button>
            </div>
          </div>

          <p class="post-by"><strong>Posted by:</strong>
            <a [routerLink]="['/profile', selectedItem?.ownerId]" class="owner-link"  title="Profile">
              {{ selectedItem?.ownerName }}
            </a>
          </p>

<!--          <p><strong>Posted by:</strong> {{ selectedItem?.ownerName }}</p>-->
          <p><strong>Location:</strong> {{ selectedItem?.location }}</p>
          <p><strong>Description:</strong> {{ selectedItem?.description }}</p>
          <p><strong>Date:</strong> {{ selectedItem?.date }}</p>
          <p><strong>Price:</strong> {{ selectedItem?.price }}</p>

          <hr />

          <form #requestForm="ngForm" (ngSubmit)="submitRequest()" class="request-grid">
            <div>
              <label for="userName" class="form-label">User Name</label>
              <input type="text" id="userName" class="form-control" [(ngModel)]="formData.userName" name="userName" required />
            </div>

            <div>
              <label for="amount" class="form-label">The Required Amount</label>
              <input type="number" id="amount" class="form-control" [(ngModel)]="formData.amount" name="amount" required />
            </div>

            <div>
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" id="startDate" class="form-control" [(ngModel)]="formData.startDate" name="startDate" required />
            </div>

            <div class="d-flex justify-content-start align-items-center gap-3 mb-3 flex-wrap">
              <button type="submit" class="btn btn-primary px-4 py-2 shadow-sm rounded-pill">
                <i class="fa-solid fa-paper-plane me-2"></i>
                Submit Request
              </button>
            </div>

          </form>

        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
