<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Column 1: Logo and Description -->
      <div class="col-lg-3 col-md-12" >
        <div class="logo-container d-flex align-items-center">
        <img src="/assets/icon.png" alt="Logo" class="logo">
          <span class="logo-text">THP</span>
        </div>
        <p>We're here to provide the best solutions for all your needs, whether you're looking for professional craftsmen or wanting to post job opportunities. We guarantee high quality and outstanding service that meets your expectations.</p>
      </div>

      <!-- Column 2: Navigation -->
      <div class="col-lg-3 col-md-4 small-screen-1">
        <h5>Navigation</h5>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <!-- Column 3: Useful Links -->
      <div class="col-lg-3 col-md-4 small-screen-2">
        <h5>Useful Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms And Conditions</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <!-- Column 4: Get in Touch -->
      <div class="col-lg-3 col-md-4">
        <h5>Get in Touch</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-envelope-at" style="color: #ff5a19;"></i>
            <a href="mailto:hello@awesomesite.com"> helloawesomesite.com</a>
          </li>
          <li style="color: white">
            <i class="bi bi-telephone" style="color: #ff5a19;" ></i>
            +123-456-789
          </li>
        </ul>
      </div>
    </div>
    <!-- Copyright Section -->
    <div class="text-center mt-4">
      <p>&copy; 2023 [Technician Hiring Platform]. All rights reserved.</p>
    </div>
  </div>
</footer>
