<div class="container">
  <h1 class="text-center mb-4">Most Users Post</h1>
  <div class="table-responsive5">
    <table class="table table-striped table-hover table-bordered text-center custom-table">
      <thead class="table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>NumberPost</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of information">
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.jobposts_count }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
