<div class="center-container">
  <div class="container">
    <h1>Access Account</h1>
    <p>Reset password</p>


    <div class="input-group">
      <i class="fa-solid fa-lock icon-password"></i>
      <input
        type="password"
        name="password"
        placeholder="Enter new password"
        [value]="password"
        (input)="onPasswordInput($event)"
      />
      <i class="fa-solid fa-eye icon-eye" (click)="togglePasswordVisibility('password')"></i>
    </div>


    <div class="input-group">
      <i class="fa-solid fa-lock icon-password"></i>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm password"
        [value]="confirmPassword"
        (input)="onConfirmPasswordInput($event)"
      />
      <i class="fa-solid fa-eye icon-eye" (click)="togglePasswordVisibility('confirmPassword')"></i>
    </div>


    <button class="save-button" (click)="savePassword()" [disabled]="!password || !confirmPassword || password !== confirmPassword">
      Save
    </button>
  </div>
</div>
