
<div class=row>
    <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12" >
      <footer>
        <div class="footer-content" >
          <p>&copy; 2025 Group-12. All rights reserved.</p>
          <div class="footer-links ">
            <a href="privacy-policy.html">Privacy Policy</a> |
            <a href="terms.html">Terms of Service</a> |
            <a href="contact.html">Contact Us</a>
          </div>
          <div class="social-links ">
            <a href="https://facebook.com" target="_blank">
              <i class="fab fa-facebook-f"></i> Facebook
            </a>
            <a href="https://twitter.com" target="_blank">
              <i class="fab fa-twitter"></i> Twitter
            </a>
            <a href="https://instagram.com" target="_blank">
              <i class="fab fa-instagram"></i> Instagram
            </a>
            <a href="https://linkedin.com" target="_blank">
              <i class="fab fa-linkedin-in"></i> LinkedIn
            </a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>Designed by [WEB-Group-12]</p>
        </div>
      </footer>

    </div>
  </div>

