
<div class="center-container">
  <div class="container">
    <h1>Create Account</h1>
    <p>Join us and manage your profile!</p>


    <div class="input-group">
      <label for="userType">Choose the account type</label>
      <select name="userType" id="userType" [(ngModel)]="userType">
        <option value="worker">factor</option>
        <option value="owner">employer</option>
        <option value="owner">Admin</option>
      </select>
    </div>


    <div class="input-group">
      <i class="fa-solid fa-user"></i>
      <input
        type="text"
        name="username"
        placeholder="Choose a username"
        [(ngModel)]="username"
      />
    </div>


    <div class="input-group">
      <i class="fa-regular fa-envelope"></i>
      <input
        type="email"
        name="email"
        placeholder="XXXX@gmail.com"
        [(ngModel)]="email"
      />
    </div>


    <div class="input-group">
      <i class="fa-solid fa-lock"></i>
      <input
        type="password"
        name="password"
        placeholder="Create a password"
        [(ngModel)]="password"
      />
      <i class="fa-solid fa-eye" (click)="togglePasswordVisibility('password')"></i>
    </div>


    <div class="input-group">
      <i class="fa-solid fa-lock"></i>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Re-enter your password"
        [(ngModel)]="confirmPassword"
      />
      <i class="fa-solid fa-eye" (click)="togglePasswordVisibility('confirmPassword')"></i>
    </div>


    <div class="terms-checkbox">
      <input
        type="checkbox"
        name="termsAccepted"
        [(ngModel)]="termsAccepted"
        id="termsCheckbox"
      />
      <label for="termsCheckbox">I agree with Terms & Conditions</label>
    </div>


    <button
      class="register-button"
      (click)="register()"
      [disabled]="
        username.trim() === '' ||
        email.trim() === '' ||
        password.trim() === '' ||
        confirmPassword.trim() === '' ||
        !termsAccepted ||
        password !== confirmPassword
      "
    >
      Register
    </button>


    <p class="login-link">
      Already registered?
      <a href="#" style="color: #ff5722;">Log In</a>
    </p>



    <button class="social-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">

      </svg>
      <i class="fa-brands fa-google" style="color: #ff5722; margin-right: 10px;"></i>
      Continue with Google
    </button>


    <button class="social-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">

      </svg>
      <i class="fa-brands fa-facebook" style="color: #ff5722; margin-right: 10px;"></i>
      Continue with Facebook
    </button>

  </div>
</div>


