.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#userType{
  margin-left: 12px;

}
.container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}


.fa-user,
.fa-envelope,
.fa-lock {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ff5722;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 15px 10px 35px;
  border: 1px solid #ff5722;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}


.fa-eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

input[type="checkbox"] {
  margin-right: 5px;
  border: 1px solid #ff5622;

}


.register-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff5622;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.register-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ff5622;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.social-button svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}


.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
