<div class="center-container">
  <div class="container">
    <h1>Create Account</h1>
    <p>Join us and manage your profile!</p>

    <div class="account-type-group">
      <label for="userType">Choose the account type</label>
      <select name="userType" id="userType" [(ngModel)]="userType">
        <option value="worker">job owner</option>
        <option value="owner">job search</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <div class="username-group">
      <i class="fa-solid fa-user"></i>
      <input
        type="text"
        name="username"
        placeholder="Choose a username"
        [(ngModel)]="username"
      />
    </div>

    <div class="email-group">
      <i class="fa-regular fa-envelope"></i>
      <input
        type="email"
        name="email"
        placeholder="XXXX@gmail.com"
        [(ngModel)]="email"
      />
    </div>

    <div class="password-group">
      <i class="fa-solid fa-lock"></i>
      <input
        type="password"
        name="password"
        placeholder="Create a password"
        [(ngModel)]="password"
      />

    </div>

    <div class="confirm-password-group">
      <i class="fa-solid fa-lock"></i>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Re-enter your password"
        [(ngModel)]="confirmPassword"
      />

    </div>


    <div class="terms-checkbox">
      <input
        type="checkbox"
        name="termsAccepted"
        [(ngModel)]="termsAccepted"
        id="termsCheckbox"
      />
      <label for="termsCheckbox">I agree with Terms & Conditions</label>
    </div>


    <button
      class="register-button"
      (click)="register()"
      [disabled]="
        username.trim() === '' ||
        email.trim() === '' ||
        password.trim() === '' ||
        confirmPassword.trim() === '' ||
        password !== confirmPassword
      "
    >
      Register
    </button>


    <p class="login-link">
      Already registered?
      <a routerLink="/login" style="color: #ff5722;">Log In</a>
    </p>


    <button class="google-social-button">
      <i class="fa-brands fa-google" style="color: #ff5722; margin-right: 10px;"></i>
      Continue with Google
    </button>


    <button class="facebook-social-button">
      <i class="fa-brands fa-facebook" style="color: #ff5722; margin-right: 10px;"></i>
      Continue with Facebook
    </button>

  </div>
</div>
