

<div class="container my-5">
  <div class="row align-items-center section">
    <!-- Left Section -->
    <div class="col-md-6 text-center">
      <div class="d-flex flex-column justify-content-center align-items-center box">
        <span class="percentage">100%</span>
        <p class="description fw-bold "style="font-size: 18px;">Satisfaction Guarantee</p>
      </div>
      <img src="/assets/whoWeAre.png" alt="Craftsman with Wrench" class="img-fluid rounded">
    </div>

    <!-- Right Section -->
    <div class="col-md-6 mt-4 mt-md-0">
      <div class="mb-3">
        <span class=" fw-bold" style="font-size: 4vh; color: #ff5a19"><pre>WHO WE ARE</pre></span>
        <h1 class="display-5 fw-bold">Our valuable services are the bridge between skilled craftsmen and employers.</h1>
        <p class="lead">We offer you an innovative platform that not only facilitates communication, but also believes in creating equal opportunities for all.</p>
      </div>
      <ul class="list-unstyled">
        <li class="mb-2"><i class="bi bi-check-circle " style="color: #ff5a19; font-size: larger;"></i> 24/7 Technical Support</li>
        <li><i class="bi bi-check-circle " style="color: #ff5a19;font-size: larger;"></i> General Maintenance</li>
      </ul>
    </div>
  </div>
</div>


