<div class="welcome-container">
  <div class="welcome-header">
  <app-header></app-header>
  <div class="welcome-content">
    <h1 class="text">WELCOME</h1>
  </div>
  </div>
  <div class="welcome-box">
    <p class="text-bg text-paragraph">Welcome To Technician Hiring Platform</p>
    <p class="text-paragraph-2">Application that connects artisans and technicians<br>
      with jpb owners who need their services</p>
  </div>
</div>


<div class="page-content">
 <app-statistics></app-statistics>
</div>
<div class="weAre">
<app-who-we-are></app-who-we-are>
</div>

