

<div class="p-3 m-0 border-0 bd-example">

<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid d-flex justify-content-between align-items-center">


    <div class="d-flex align-items-center">
      <img src="/assets/icon.png" alt="Logo" width="140" height="43" class="me-2">
      <a class="navbar-brand logo"  href="#">THP</a>
    </div>

    <!-- Right side: Navigation Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link btn-orange" href="#">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-orange" href="#">Sign up</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn-orange" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User type
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Job search</a></li>
            <li><a class="dropdown-item" href="#">Job owner</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Navbar toggler for smaller screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

</div>
