
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}


h1 {
  font-size: 24px;
  margin-bottom: 10px;
}


p {
  font-size: 16px;
  margin-bottom: 20px;
}


.input-group {
  position: relative;
  margin-bottom: 20px;
}

.icon-envelope {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ccc;
}

input[type="email"] {
  width: 100%;
  padding: 10px 15px 10px 35px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}


.send-reset-link {
  display: block;
  padding: 10px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.send-reset-link:hover {
  background-color: #e64a19;
}


.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
