<div class="center-container">
  <div class="container" [formGroup]="forgotPasswordForm">
    <h1>Access Account</h1>
    <p>Reset Your Password</p>


    <div class="input-group">
      <i class="icon-envelope"></i>
      <input
        type="email"
        placeholder="Enter your registered email"
        formControlName="email"
      />
    </div>


    <a routerLink="/verification"> <button class="send-reset-link" (click)="sendResetLink()">
     Send Reset Link
    </button>
</a>

    <p class="signup-link">
      Need to create an account?
      <a routerLink="/createaccount" style="color: #ff5722;">Sign Up</a>
    </p>
  </div>
</div>

