
<div class="position-relative" style="cursor: pointer;">
  <i class="fa-solid fa-bell header-icon" (click)="toggleNotifications()"></i>

  <span *ngIf="notifications.length > 0"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ notifications.length }}
  </span>

  <div *ngIf="show" class="notification-dropdown">
    <div *ngFor="let notification of notifications" class="p-2 border-bottom">
      {{ notification.text }}
    </div>
    <div *ngIf="notifications.length === 0" class="p-2 text-muted text-center">
      There are no notifications currently
    </div>
  </div>
</div>
